.metrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-top: 1px solid #3e3e44;
  padding: 5px 20px;
  background-color: #2b2b32;
  color: #b0b2c1;
  font-size: 24px;
  text-transform: uppercase;
}
