.contacts{
  width: 895px;
  min-height: 400px;

  &__name {
    color: #ffbe1d;
    font-size: 17px;
  }

  &__line {
    font-family: 'Roboto', 'Avenir', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #b0b2c1;
    margin: 30px 0;
  }

  &__mail {
    color: #ffbe1d;
    transition: 1s all ease;

    &:hover {
      color: #ffbaaa;
    }
  }
}
