.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 1200px;
  height: 80px;
  &__logo{
    width: 200px;    
    &-container{
      position: relative;
      padding-right: 120px;
    }
  }
  &__nav{
    width: 550px;
    margin-left: 148px;
  }
  &__navAuth{
    width: 550px;
    margin-left: 40px;
  }
}
