@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/avenir_regular.woff2') format('woff2'),
  url('/assets/fonts/aveni_regular.otf'),
  url('/assets/fonts/avenir_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
