.profile{
  @include flex(stretch, space-around, column);
  position: relative;
  width: $profile__size_width_l;
  background-color: $bg__color_main;
  &__online-status{
    position: absolute;
    top: 15px;
    right: 0px;
    &::after{
      content: "";
      position: absolute;
      top: -20px;
      right: 0;
      width: 8px;
      height: 8px;
      background-color: $bg__color_main;
    }
    &_type{
      &_on{
        color: $text__color_important;
        &::after{
          background-color: $bg__color_hover;
        }
      }
      &_off{
        color: $text__color_border;
      }
    }
  }
  &__user-level{
    padding: 15px 55px;
  }
  &__info{
    display: none;
    padding: 20px 15px;
    text-align: center;
  }
  .user-image{
    
    position: relative;
    border-radius: 2px;
    width: 135px;
  }
  .user-name{
    padding-top: 20px;
    text-align: center;
    font-size: $text__size_l;
  }
  &_owner{
    .profile{
      &__online-status{
        display: none;
      }
      &__info{
        display: block;
      }
    }
    .user-rang__progress{
      display: flex;
    }
  }
  &__change-page{
    justify-content: flex-start;
    position: absolute;
    z-index: 0;
    right: 2px;
    bottom: -42px;
    border-right: none;
    width: 185px;
  }
  &_empty{
    height: 30px;
  }
}
