.content__secret-code {
  .content__btn-container {
    width: 230px;
    button {
      width: 208px;
      height: 45px;
      background: #ffbe1d;
      border-top: 1px solid #ffdb80;
      font-size: $text__size_s;
      text-transform: uppercase;
      color: #1b1b27;
      border-radius: 0;
      padding: 14px 28px;
      box-sizing: border-box;
      outline: none;
      cursor: pointer;
    }
  }
  .content__text {
    line-height: 1.43em;
    width: 660px;
  }
}
